
.form-container {
    width: 600px; 
    margin: 20px auto; /
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: 600px; 


.signup-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #3c009d; 
}


.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 15px auto;
    width: 480px;
    color: #000000;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
    gap: 10px;
    padding: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.input {
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    color: #000000;
    flex: 1;
    font-size: 16px;

}



.input::placeholder {
    font-size: 16px; 
    color: #999; 
    font-style: italic; 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}



.auth-actions {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 120px; 
    margin-top: 20px; 
    width: 100%;
}

.register-text {
    cursor: pointer;
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px; 
    border: 1px solid #007BFF; 
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.register-text:hover {
    background-color: #007BFF;
    color: #ffffff;
}


.login-link a {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px; 
    border: 1px solid #007BFF; 
    border-radius: 6px; 
    transition: background-color 0.3s, color 0.3s; 
}

.login-link a:hover {
    background-color: #007BFF;
    color: #ffffff;
}


}